* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
  }
  label{
      color: #07074d;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    padding: 20px;
  }
  #signUpPage,
  #messagePage,
  #confirmPage {
    height: 100vh;
  }
  .likeNavbar {
    display: flex;
    flex-direction: column;
  }
  .navbarIcons {
    display: flex;
    flex-direction: row;
    gap: 42px;
    padding: 50px 0 18px;
  }
  .navbarIcons div {
    display: flex;
    gap: 24px;
  }
  .formInputDiv {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 14px;
      margin-bottom: 16px;
    }
    .formInput {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
    }
    input {
      width: 100%;
      padding: 14px 22px;
      font-size: 14px;
      border-radius: 6px;
      border: 0.5px solid gainsboro;
      box-sizing: border-box;
    }
    input:focus {
      border-color: blue;
      outline: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
  