@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

ol a, ul a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  padding: 0px 140px;
}

body {
  font-family: Poppins;
  font-size: 16px;
}

#HOME .homeBox .homeBoxTop .homeBtn, header .header .headerBtn {
  padding: 20px 35px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition: color 2s, background-color 1s;
  cursor: pointer;
}
#HOME .homeBox .homeBoxTop .homeBtn:hover, header .header .headerBtn:hover {
  color: black;
  background-color: white;
}

header {
  background-color: transparent;
}
header .header {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding: 15px 0px;
  justify-content: space-between;
}
header .header .navBar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
header .header .navBar ul li a {
  font-size: 16px;
  font-weight: 600;
  color: white;
  transition: color 0.5s;
}
header .header .navBar ul li a:hover {
  color: #0181f5;
}
header .header .navBar ul li select {
  background-color: transparent;
  border-color: transparent;
  outline: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  transition: color 0.5s;
}
header .header .navBar ul li select:hover {
  color: #0181f5;
}
header .header .navBar ul li select option {
  padding: 10px;
  color: black;
}
#HOME {
  width: 100%;
  background-image: url("https://preview.colorlib.com/theme/wemeet/img/banner/banner_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#HOME .homeBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 50px;
  row-gap: 150px;
}
#HOME .homeBox .homeBoxTop {
  padding-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 50px;
}
#HOME .homeBox .homeBoxTop h1 {
  font-size: 90px;
  font-weight: 700;
  color: white;
  line-height: 100px;
}
#HOME .homeBox .homeBoxBottom {
  width: 100%;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: space-between;
  color: white;
}
#HOME .homeBox .homeBoxBottom .homeBoxLocation,
#HOME .homeBox .homeBoxBottom .homeBoxCurrentData {
  font-size: 20px;
  font-weight: 600;
}
#HOME .homeBox .homeBoxBottom .homeBoxLocation span,
#HOME .homeBox .homeBoxBottom .homeBoxCurrentData span {
  margin-left: 10px;
}
#HOME .homeBox .homeBoxBottom .homeBoxCurrentTime {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
#HOME .homeBox .homeBoxBottom .homeBoxCurrentTime .timeDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 50px;
  row-gap: 20px;
  align-items: end;
}
#HOME .homeBox .homeBoxBottom .homeBoxCurrentTime .timeDiv h3 {
  font-size: 46px;
  font-weight: 600;
}
#HOME .homeBox .homeBoxBottom .homeBoxCurrentTime .timeDiv p {
  font-size: 16px;
  font-weight: 400;
}

#ABOUT {
  width: 100%;
  background-image: url("https://preview.colorlib.com/theme/wemeet/img/about/shap1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#ABOUT .aboutBox {
  width: 100%;
  padding: 180px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  -moz-column-gap: 120px;
       column-gap: 120px;
}
#ABOUT .aboutBox .aboutBoxLeft {
  width: 100%;
}
#ABOUT .aboutBox .aboutBoxLeft img {
  width: 100%;
}
#ABOUT .aboutBox .aboutBoxRight {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 50px;
}
#ABOUT .aboutBox .aboutBoxRight span {
  font-size: 15px;
  color: #c9c9c9;
  font-weight: 500;
  text-transform: uppercase;
}
#ABOUT .aboutBox .aboutBoxRight h2 {
  font-size: 46px;
  font-weight: 500;
  line-height: 58px;
}
#ABOUT .aboutBox .aboutBoxRight p {
  font-weight: 400;
  font-size: 16px;
  color: #808080;
  line-height: 26px;
}
#ABOUT .aboutBox .aboutBoxRight button {
  font-size: 16px;
  font-weight: 500;
  color: red;
  background-color: white;
  border: 2px solid red;
  padding: 16px 44px;
  transition: color 1s, background-color 1s;
}
#ABOUT .aboutBox .aboutBoxRight button:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */