*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box ;
    font-family: Roboto;
}
.secondPage{
    height: 100vh;
    background-color: #e6e6e6;
}
header{
    height: 10%;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color:#0779e4;
    padding: 0px 150px;
    align-items: center;
}
.logo{
    font-size: 20px;
    font-weight: 800;
}
.navbarLinks{
    display: flex;
}
.navbarLinks li a{
    color: white;
    font-size: 15px;
    padding: 0px 30px;
}
.about-section{
    padding: 30px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-container{
    display: flex;
    gap: 40px;
    align-items: center;
}
.about-content{
display: flex;
flex-direction: column;
gap: 30px;
}
.about-content span{
    font-size: 16px;
    color: #999999;
}
.about-section h1{
    font-size: 40px;
}
.about-section h2{
    font-size: 24px;
}
.btns{
    display: flex;
    gap: 18px;
}
.btn{
    color: #999999;
    background-color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
}
.btn:hover{
    color: white;
    background-color: #0779e4;
    cursor: pointer;
}