*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: Roboto;
}
main{
    height: 100vh;
    background-image: url("./assets/bg_1.jpg");
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
}
.allSection{
    padding: 30px 140px;
    height: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.navbarLinks{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbarLinks li a{
    padding: 0 30px;
}
.container{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}
.container h1{
    font-size: 60px;
    font-weight: 400;
}
.container p{
    line-height: 22px;
}
.container button{
    padding: 16px 24px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
}
.hireBtn{
    background-color: #0779E4;
}
.hireBtn a{
    font-weight: 700;
}
.viewBtn{
    background-color: white;
}
.viewBtn a{
    color: #0779E4;
    font-weight: 700;
}
.btnDiv{
    display: flex;
    gap: 12px;
}
.socialNetwork{
    display: flex;
    flex-direction: row;
    gap: 24px;
    font-size: 14px;
    font-weight: 600;
}

