*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box ;
    font-family: Roboto;
}
.thirdPage{
    height: 100vh;
    background-color: #e6e6e6;
}
header{
    height: 10%;
    display: flex;
    justify-content: space-between;
    color: white;
    background-color:#0779e4;
    padding: 0px 150px;
    align-items: center;
}
.logo{
    font-size: 20px;
    font-weight: 800;
}
.navbarLinks{
    display: flex;
}
.navbarLinks li a{
    color: white;
    font-size: 15px;
    padding: 0px 30px;
}