#HOME{
    padding: 80px 0px;
    @include flexBox();
    column-gap: 80px;
    width: 100%;
    .homeLeft{
        width: 100%;
        @include flexBoxColumn();
        align-items: flex-start;
        row-gap: 40px;
        span{
            @include spanBox();

        }
        h1{
            color: navy;
            font-size: 42px;
            font-weight: 900;
        }
        p{
            font-size: 18px;
            color: grey;
            line-height: 1.4;
        }
        .buttons{
            display: flex;
            column-gap: 30px;
            .how{
                background-color: navy;
                color: white;
                border: 1px solid navy;
                border-radius: 32px;
                padding: 12px 26px;
                text-transform: uppercase;
                &:hover{
                    color: black;
                    background-color: transparent;
                    cursor: pointer;
                }
            }
            .contact{
                background-color: transparent;
                color: navy;
                border: 1px solid navy;
                border-radius: 32px;
                padding: 12px 26px;
                text-transform: uppercase;
                &:hover{
                    color: white;
                    background-color: navy;
                    cursor: pointer;
                }
            }
        }
    }
    .homeRight  {
        width: 100%;
    }
    @media only screen and (max-width: 991px){
        @include flexBoxColumn();
    }
}


