@mixin flexBox{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}
@mixin flexBoxColumn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 50px;
}