.home{
    .homeLeft{
        h1{
            font-size: 90px;
            font-weight: 600;
            color: white;
        }
        p{
            font-size: 18px;
            color: white;
            line-height: 1.7    ;
        }
    }
}