*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Plus Jakarta Sans;
}
.container{
    padding: 0px 120px;
}
header{
    width: 100%;
    background-color: #20484f;
    position: fixed;
    z-index: 10;
}
.navbar{
    padding: 22px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
nav ul{
    display: flex;
    column-gap: 70px;
}
nav ul a{
    color: white;
}
.navBtns{
    display: flex;
    gap: 20px;
}
.navBtns button{
    padding: 10px 25px;
    border-radius: 7px;
    border: none;
    margin-right: 10px;
}
.navBtns button:hover{
    background-color: #b8e4da;
    cursor: pointer;
    font-weight: 800;
}
.menu{
    display: none;
}
.homeSection{
    display: flex;
    column-gap: 30px;
    padding: 100px 20px;
    justify-content: space-between;
}
.homeLeftSide{
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
}
.homeLeftSide h1{
    font-size: 64px;
    font-weight: 600;
    line-height: 60px;
}
.homeLeftSide p{
    font-size: 18px;
    font-weight: 500;
}
.homeBtns{
    display: flex;
    column-gap: 18px;
}
.homeBtns button{
    padding: 16px 36px;
    border-radius: 8px;
    background-color: #20484F;
    color: white;
    border: 1px solid transparent;
}
.homeBtns button:hover{
    background-color: white;
    color: #20484F;
    border: 1px solid #20484F;
    cursor: pointer;
}
section{
    padding: 60px 0px;
}
.cardSlider{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.sectionTitle{
    padding: 10px 0px;
    text-align: center;
    font-size: 16px;
}
.sectionTitle h1{
    font-size: 40px;
   margin-bottom: 30px;
}
.cardBox{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.socialIcons ul{
    display: flex;
    gap: 26px;
}
.cardOne{
    margin: 10px;
}
.cardOne, .cardTwo{
    display: flex;
    column-gap: 50px;
    justify-content: center;
}
.cardTitle{
    font-size: 24px;
}
.cardText{
    font-size: 16px;
}
footer{
    background-color: #20484f;
}
.footerSection{
    padding: 60px 0px;
    display: flex;
    justify-content: space-between;
    color: white;
    line-height: 40px;
}
.footerRightSide{
    display: flex;
    column-gap: 100px;
}
.quick{
    border-top: 2px solid white;
    padding: 24px 0px;
    text-align: center;
    font-size: 18px;
    color: white;
}
.footerLeftSide form button{
    background-color: #b8e4da;
    padding: 5px 13px;
    border: none;
    border-radius: 6px;
    transition: 0.15s;
}
.footerLeftSide form button:hover{
    cursor: pointer;
    background: white;
    padding: 6px 14px;

}
.footerLeftSide form input{
    padding: 5px;
    border-radius: 6px;
    border: none;
    margin-right: 10px;
}
@media only screen and (max-width: 991px){
    .container{
        padding: 0px 60px;
    }
    .cardOne{
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    nav, .navBtns{
        display: none ;
    }
    .menu{
        display: block;
    }
    .homeSection{
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        text-align: center;
    }
    .homeBtns{
        justify-content: center;
    }
    .homeLeftSide h1{
        font-size: 40px;
    }
    .footerSection{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .footerLeftSide{
        display: flex;
        flex-direction: column;
        align-items:  center;
        row-gap: 10px;
    }
    .footerRightSide{
        column-gap: 40px;
        line-height: 26px;
    }
}
@media only screen and (max-width: 768px){
    .cardTwo{
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    .container{
        padding: 0px 20px;
    }
}
