header{
    width: 100%;
    position: fixed;
    background-color: #fff;
    .headerTopSide{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .headerTopLeft{
            display: flex;
            align-items: center;
            column-gap: 20px;
            span{
                font-size: 14px;
                letter-spacing: 0.5px;
            }
        }
        .headerTopCenter{
            display: flex;
            align-items: center;
        }
        .headerTopRight{
            display: flex;
            align-items: center;
            column-gap: 20px;
            span{
                font-size: 14px;
                letter-spacing: 0.5px;
            }
        }
        .iconBgColor{
            padding: 14px 24px;
            background-color: #f5414d;
            a{
                font-size: 24px;
                color: #fff;
            }
        }
        .menuIcon a i{
            display: none;
            color: #f5414d;
            font-size: 24px;
        }
    }
    hr{
        margin: 0;
    }
    .headerBottom{
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 10px;
            padding: 20px 220px;
            li{
                a{
                    font-size: 12px;
                    padding: 0px 8px;
                    color: black;
                }
                a:hover{
                    color: #f5414d;
                }
                select{
                    border: none;
                    font-size: 12px;
                    padding: 0px 8px;
                }
                select:hover{
                    color: #f5414d;
                }
            }
        }
    }
}
@media only screen and (max-width: 991px){
    header{
        hr{
            display: none;
        }
        .headerTopSide{
            justify-content: center;
            padding: 20px 0px;
            .headerTopLeft, 
            .headerTopRight{
                display: none;
            }
            .menuIcon a i{
                display: block;
            }
        }
        .headerBottom{
            display: none;
        }


    }
}