*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.firstPage{
    height: 100vh;
    background-image: url("./assets/25145-630x354-r.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.firstPageDetails{
    height: 100vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: self-start;
    justify-content: center;
    padding: 0 30px;
}
.firstPage h1{
    color: aliceblue;
    font-size: 36px;
}
.firstPage button{
    padding: 8px;
    background-color: transparent;
    border: 2px solid black;
}
.firstPage button:hover{
    background-color: blanchedalmond;
    color: #f06417;
    cursor: pointer;
}
.secondPage{
    height: 100vh;
    background-image: url("./assets/Garfield.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.thirdPage{
    height: 30vh;
    background-color: gold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.thirdPage h1{
    margin-bottom: 20px;
}
.icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.icons img{
    width: 24px;
}

